node_modules/

build/
builds/
.idea
*.iml
.gradle

android/app/build/
android/.gradle/
android/local.properties

ios/build/

# CocoaPods
ios/Pods/
ios/Podfile.lock

.DS_Store

xcuserdata
xcuserdata/**/*
!xcuserdata/**/xcschemes/*

build.properties

fastlane/report.xml

